* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, Arial, sans-serif;
  background-color: whitesmoke;
  padding: 0;
} 
li a {
  color: #004d82;
  text-decoration: none;
} 

